#headerTitle h1 {
        font-family: "Gill Sans MT", Calibri, sans-serif;
	color: white;
}

body {
	font-family: "Gill Sans MT", Calibri, sans-serif;
	font-size: 110%;
}

h1, h2, h3 {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

#main h2 {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

#header {
	background-color: #774553;
}

#content { 
	font-size: 0.9em;
}



#rightSidebar {
	font-size: 0.8em;
}

#sidebar div.block span.blockTitle {
	text-transform: none;
}


#bjmhfooter {
        width: 100%;
        background-color: #774553;
        display: block;
        border-top: 1px solid #d4d4d4;
        padding: 0.5em 0 0.25em 10%;
        color: white;
	font-size: 0.9em;

}

#bjmhfooter a {
	color: white;
}

#bjmhfooter .footerbox {
	max-width: 300px;
	width: 300px;
	float: left;
	margin-right: 50px;
	padding-top: 10px;
}


/* make form input boxes suck less */
input.textField, select.selectMenu, textarea.textArea, input.uploadField {
	border: 1px solid #aaa;
}



/* full text links */
#articleFullText a {
-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #528ecc;
	padding: 5px;
}
#articleFullText a:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}
#articleFullText a:active {
	position:relative;
	top:1px;
}
/* This button was generate */


#inlinePdfResizer {
	height: 600px;
}
